#container, ::after, ::before {
  box-sizing: border-box;
  margin: 10px;
}

button.accordion-button {

  font-size: x-large;
  text-align: center;
  color: rgb(107, 89, 117);
}

.accordion-button:not(.collapsed) {
  color: rgb(148, 88, 182);
  background-color: rgb(199, 177, 212);
}

div.container {
  padding: 20px;
}

img {
  margin-top: 10px;
  max-height: 300px;
}

.imageClass {
  text-align: center;
}

div.accordion-collapse.collapse.show {
  background-color: rgb(223, 211, 230);
}

