#container, ::after, ::before {
  box-sizing: border-box;
  margin: 5px;
}

button.accordion-button {

  font-size: x-large;
  text-align: center;
  color: rgb(107, 89, 117);
}

.accordion-button:not(.collapsed) {
  color: rgb(125, 81, 151);
  background-color: rgb(199, 177, 212);
}

div.container {
  padding: 10px;
}

img {
  margin-top: 10px;
  max-height: 300px;
}

.imageClass {
  text-align: center;
}

div.accordion-collapse.collapse.show {
  background-color: rgba(223, 211, 230, 0.575);
}

#Footy {
  box-sizing: unset;
  margin: unset;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-style: none;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(223, 211, 230);  width: 100%;
  height: 4vh;
  position: fixed;
  bottom: 0;
  padding-top: 5px;
}


body {
  background-image: url(/public/images/bgattempt.jpg);
}

.bg-light {
  background-color:rgba(206, 168, 228, 0.438) !important;
}